ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    border:1px solid #e7e7e7;
    background-color:#f3f3f3;
  }
  li{
    float:left;
  }
  li a, .dropbtn{
    display:inline-block;
    color:#666;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
  }
  li a:hover, .dropdown:hover .dropbtn{
    background-color:#ddd;
  }
  li.dropdown{
    display:inline-block;
  }
  .dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rbga(0,0,0,0.2);
    z-index:1;
  }
  .dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left;
  }
  .dropdown-content a:hover{
    background-color:#f1f1f1;
  }
  .dropdown:hover .dropdown-content{
    display:block;
  }
  .active{
    color:white;
    background-color:#4caf50;
  }

  body{
      background-color:lavender;
  }
  * {
    box-sizing:border-box;
  }

  a{
    color:green;
    text-decoration:none;
  }
  a:hover{
    color:rgb(224, 44, 74);
  }
   /*
=============================
PRIMARY HEADER
=============================
*/

.logo {
	margin :0 auto;
  background-color:#3399ff;
}
.tagline {

  background-color:#cce5ff;
}

/*
=============================
CLEARFIX
=============================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


.container3 {
  border-radius: 5px;
  background-color:gray;
  padding: 40px;
 margin-top:10px;
	margin-bottom:20px;
  margin-left:10%;
  margin-right:10%;
}


input[type=email], input[type=name], select,textarea{
  width:100%;
  padding:15px;
  margin: 5px 0 22px 0;
  display:inline-block;
  border:none;
  background:#f1f1f1;
  border-radius: 4px;
}

input[type=email]:focus, input[type=name]:focus, select:focus, textarea:focus{
  background-color:#ddd;
  outline:none;
}

/*
=============================
footer
=============================
*/
.primary-footer{
  background-color:#3399ff;
  text-align:center;
  color:black;

}
.primary-footer a{
  color:green;
}

.primary-footer a:hover{
  color:red;
}
